body {
    font-family: Arial, sans-serif;
    background-color: #f2e2d2;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-image: url("assents/R\ \(1\).jpeg");
    background-size: 100%;
  
  }
  
  
  header {
    background-color: #2d1a0e; 
    color: #fff;
    text-align:center;
    width: 100%;
    align-items: baseline;
  
  }
  h1 {
    font-size: 36px;
    text-transform: uppercase;
  }
  